.App {
    width: 100vw;
    height: 100vh;
  }
  
  .App-header {
    color: #943b98;
    display: flex;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  