button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: inherit;
    transition: color 0.3s;
  }
  
  button:hover {
    color: #e17be3; 
  }
  
  button .fa-moon {
    color: #ff00ff; 
  }
  